@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

::-webkit-scrollbar {
  display: none;
}

.menu {
  font-family: "Poppins", sans-serif;
  min-width: 350px;
  color: #fff;
  position: absolute;
  background: rgba(33, 33, 33, 0);
  text-align: center;
}

.head {
  display: block;
  overflow: hidden;
  padding-bottom: 3px;
  text-align: center;
  margin-bottom: 5px;
  white-space: nowrap;
  background: rgba(10, 10, 10, 0.9);
}

.menu .head {
  text-align: center;
  height: 28px;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
}

.menu .menu-items {
  max-height: 450px;
  overflow-y: auto;
  font-weight: 550;
}

.menu-items {
  margin-bottom: 2px;
}

.menu .menu-items .menu-item {
  display: block;
  padding: 7px;
  font-size: 13px;
  height: 16px;
  text-indent: 5px;
  margin-top: 5px;
  background: rgba(40, 40, 40, 0.8);
  color: rgb(202, 202, 202);
  border-radius: 5px;
  margin-bottom: 6px;
}

.menu .menu-items .menu-item.selected {
  border: 1px solid rgba(55, 55, 55, 0.9);
  background: rgba(20, 20, 20, 0.9);
  color: rgba(243, 243, 243);
  letter-spacing: 0.2px;
  font-weight: 500;
}

.menu.align-left {
  left: 0;
  top: 50%;
}

.menu.align-top-left {
  left: 3rem;
  top: 0;
}

.menu.align-top {
  left: 50%;
  top: 0;
}

.menu.align-top-right {
  right: 3rem;
  top: 0;
}

.menu.align-right {
  right: 0;
  top: 50%;
}

.menu.align-bottom-right {
  right: 3rem;
  bottom: 0;
}

.menu.align-bottom {
  left: 50%;
  bottom: 0;
  transform: translate(0, -50%);
}

.menu.align-bottom-left {
  left: 3rem;
  bottom: 0;
}

.menu.align-center {
  left: 50%;
  top: 35%;
  transform: translate(-50%, 50%);
}

/* 
.menu button {
	font-family: bankgothic;
}

.menu>table {
	border-collapse: separate;
	border-spacing: 0 5px;
	min-width: 400px;
	background: rgba(33, 33, 33, 0.0);
}

.menu>table>thead {
	background: rgba(10, 10, 10, 0.9);
	text-align: center;
	height: 20px;
	line-height: 20px;
	margin-bottom: 20px;
	color: #fff;
}

.menu td {
	
	text-align: center;
	padding: 8px;
	margin: 20px;
}

.menu tbody tr:nth-child(even) {
	color: #fff;
	background: rgba(40, 40, 40, 0.8);
}

.menu tbody tr:nth-child(odd) {
	color: #fff;
	background: rgba(40, 40, 40, 0.8);
}
 */

#controls {
  font-family: montserrat;
  font-size: 3em;
  color: #fff;
  position: absolute;
  bottom: 40;
  right: 40;
}

.controls {
  display: none;
}

.dialog {
  font-family: montserrat;
  background: rgba(33, 33, 33, 0.8);
  color: #fff;
  position: absolute;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 152px;
  transform: translate(-50%, -50%);
}

.head {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: #fff;
}

.dialog.big {
  height: 200px;
}

.dialog .head {
  background: rgba(25, 25, 25, 0.9);
  text-align: center;
  height: 40px;
}

.dialog .head span::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.dialog input[type="text"] {
  width: 60%;
  height: 32px;
  outline: 0;
  background: none;
  text-align: center;
  margin-top: 26px;
  margin-left: 125px;
  font-size: large;
  transition: all 0.2s ease-in-out;
  color: white;
  border: 0.5px solid #ffffff3b;
  border-radius: 0px;
}

.dialog input[type="text"]:active,
.dialog input[type="text"]:hover {
  color: white;
}

.dialog textarea {
  width: 100%;
  height: 128px;
}

.dialog button[name="submit"] {
  width: 17.6%;
  height: 32px;
  margin-left: 160px;
  font-weight: 300;
  color: rgb(37, 34, 53);
  border-radius: 10px;
  text-transform: uppercase;
  background: rgb(50, 79, 208);
  outline: 0;
  border: none;
  transition: all 0.2s ease-in-out;
}

.dialog button {
  z-index: 9999;
  transform: translate(-0%, 50%);
}

.dialog button[name="cancel"] {
  width: 17.6%;
  height: 32px;
  margin-left: 60px;
  border: none;
  text-transform: uppercase;
  font-weight: 200;
  border-radius: 10px;
  color: rgb(53, 34, 34);
  outline: 0;
  background: #c74545;
  transition: all 0.2s ease-in-out;
}

.dialog button[name="cancel"]:hover {
  letter-spacing: 1px;
  color: #ffffff;
  width: 17.6%;
}

.dialog button[name="submit"]:hover {
  letter-spacing: 1px;
  color: white;
  width: 17.6%;
}

.head::before,
.head::after {
  content: "";
  flex-grow: 1;
  background: #00e1ff;
  height: 2px;
  margin: 0px 3px;
}
